@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 600px;
    border-collapse: collapse;
}

td {
    font-weight: bold;
    width: 600px;
}

td, th {
    border: 1px solid black;    
}

th {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 10px;
}

.menu {
    color: black;
    background-color: white;
}

.org {
    width: 550px;
    text-align: center;
}

.media {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
}